
<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/8/86/Paris_Saint-Germain_Logo.svg/240px-Paris_Saint-Germain_Logo.svg.png" alt="" height="100px" width="100px" >
       

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#"><a href="{{url_for('home')}}">Home</a></a></li>
            <li class="uk-active"><a href="#"><a href="{{url_for('joueurs')}}">Joueurs</a></a></li>
            <li class="uk-active"><a href="#"><a href="{{url_for('palmares')}}">Palmares</a></a></li>
            <li class="uk-active"><a href="#"><a href="{{url_for('resultats')}}">Résultats</a></a></li>
            <li class="uk-active"><a href="#"><a href="{{url_for('calendrier')}}">Calendrier</a></a></li>
            <li class="uk-active"><a href="#"><a href="{{url_for('statistiques')}}">Statistiques</a></a></li>
            
        </ul>

    </div>
</nav>